{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["all", "java"],
        "plugins": ["line-numbers", "autoloader"],
        "theme": "twilight",
        "css": true
      }
    ]
  ]
}
