/* font theme */
@mixin eng-font {
  font-family: "Open Sans", sans-serif;
}
@mixin kor-font {
  font-family: "Noto Sans KR", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  &.none-cursor * {
    cursor: none !important;
  }
}

body {
  font-family: Arial, sans-serif;
  // background-color: #666; /* Adjusted to a darker gray color (40% brightness) */
  // color: #000; /* Changed text color to black */
  margin: 0;
  padding: 0;
  user-select: none;
}

@for $i from 1 to 6 {
  h#{$i} {
    @include eng-font;
    margin: 0;
    font-size: 18px;
    scroll-margin: 2rem;
  }
}

ol,
ul {
  line-height: 1.8;
  & ol,
  ul {
    padding-inline-start: 1.5em;
  }
}

.list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mouse-layer {
  position: fixed;
  pointer-events: none;
  user-select: none;
  top: 0;
  left: 0;
  z-index: 1000;
}
