@import "global";
@import "palette";
@import "mixin";
@import "text";

@for $i from 0 to 21 {
  .gap-#{$i} {
    gap: #{$i}rem;
  }
  /* padding */
  // .pl-#{$i} {
  //   @include pl($i);
  // }
  @include breakpoint-set("pl-#{$i}") {
    @include pl($i);
  }
  // .pr-#{$i} {
  //   @include pr($i);
  // }
  @include breakpoint-set("pr-#{$i}") {
    @include pr($i);
  }
  // .px-#{$i} {
  //   @include px($i);
  // }
  @include breakpoint-set("px-#{$i}") {
    @include px($i);
  }
  // .pt-#{$i} {
  //   @include pt($i);
  // }
  @include breakpoint-set("pt-#{$i}") {
    @include pt($i);
  }
  // .pb-#{$i} {
  //   @include pb($i);
  // }
  @include breakpoint-set("pb-#{$i}") {
    @include pb($i);
  }
  // .py-#{$i} {
  //   @include py($i);
  // }
  @include breakpoint-set("py-#{$i}") {
    @include py($i);
  }
  // .p-#{$i} {
  //   @include p($i);
  // }
  @include breakpoint-set("p-#{$i}") {
    @include p($i);
  }
  /* margin */
  // .ml-#{$i} {
  //   @include ml($i);
  // }
  @include breakpoint-set("ml-#{$i}") {
    @include ml($i);
  }
  // .mr-#{$i} {
  //   @include mr($i);
  // }
  @include breakpoint-set("mr-#{$i}") {
    @include mr($i);
  }
  // .mx-#{$i} {
  //   @include mx($i);
  // }
  @include breakpoint-set("mx-#{$i}") {
    @include mx($i);
  }
  // .mt-#{$i} {
  //   @include mt($i);
  // }
  @include breakpoint-set("mt-#{$i}") {
    @include mt($i);
  }
  // .mb-#{$i} {
  //   @include mb($i);
  // }
  @include breakpoint-set("mb-#{$i}") {
    @include mb($i);
  }
  // .my-#{$i} {
  //   @include my($i);
  // }
  @include breakpoint-set("my-#{$i}") {
    @include my($i);
  }
  // .m-#{$i} {
  //   @include m($i);
  // }
  @include breakpoint-set("m-#{$i}") {
    @include m($i);
  }

  .btn-#{$i} {
    @include px($i * 2 * 0.25);
    @include py($i * 0.25);
    @include line-height(1 + $i * 0.1);
  }

  @include breakpoint-set("fw-#{$i * 100}") {
    font-weight: calc($i * 100);
  }
}

$btn-hover-opacity: 80;
.btn {
  --btn-base-bg-color: #{$info-color};
  --btn-color: #{use-text-color($info-color)};
  // cursor: pointer;
  user-select: none;
  border-radius: 0;
  border: none;
  outline: none;

  background-color: var(--btn-base-bg-color);
  color: var(--btn-color);

  @include btn-hover($info-color, $btn-hover-opacity);
}

/* btn */
// .btn-primary {
//   @include color-set("btn", $primary-color);
// }
// .btn-secondary {
//   @include color-set("btn", $secondary-color);
// }
// .btn-success {
//   @include color-set("btn", $success-color);
// }
// .btn-info {
//   @include color-set("btn", $info-color);
// }
// .btn-warn {
//   @include color-set("btn", $warn-color);
// }
// .btn-error {
//   @include color-set("btn", $error-color);
// }
// .btn-black {
//   @include color-set("btn", $black-color);
// }
// .btn-gray {
//   @include color-set("btn", $gray-color);
// }
// .btn-white {
//   @include color-set("btn", $white-color);
// }

/* text */
// .text-primary {
//   @include color-set("text", $primary-color) {
//     color: var(--text-base-color);
//   }
// }
// .text-secondary {
//   @include color-set("text", $secondary-color) {
//     color: var(--text-base-color);
//   }
// }
// .text-success {
//   @include color-set("text", $success-color) {
//     color: var(--text-base-color);
//   }
// }
// .text-info {
//   @include color-set("text", $info-color) {
//     color: var(--text-base-color);
//   }
// }
// .text-warn {
//   @include color-set("text", $warn-color) {
//     color: var(--text-base-color);
//   }
// }
// .text-error {
//   @include color-set("text", $error-color) {
//     color: var(--text-base-color);
//   }
// }
// .text-black {
//   @include color-set("text", $black-color) {
//     color: var(--text-base-color);
//   }
// }
// .text-gray {
//   @include color-set("text", $gray-color) {
//     color: var(--text-base-color);
//   }
// }
// .text-white {
//   @include color-set("text", $white-color) {
//     color: var(--text-base-color);
//   }
// }

@include breakpoint-set("d-none") {
  @include d-none;
}
@include breakpoint-set("d-inline") {
  @include d-inline;
}
@include breakpoint-set("d-inline-flex") {
  @include d-inline-flex;
}
@include breakpoint-set("d-inline-block") {
  @include d-inline-block;
}
@include breakpoint-set("d-block") {
  @include d-block;
}
@include breakpoint-set("d-flex") {
  @include d-flex;
}

.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

/* colors */
@include breakpoint-set("text-primary") {
  @include color-set("text", $primary-color) {
    color: var(--text-base-color);
  }
}
@include breakpoint-set("text-secondary") {
  @include color-set("text", $secondary-color) {
    color: var(--text-base-color);
  }
}
@include breakpoint-set("text-success") {
  @include color-set("text", $success-color) {
    color: var(--text-base-color);
  }
}
@include breakpoint-set("text-info") {
  @include color-set("text", $info-color) {
    color: var(--text-base-color);
  }
}
@include breakpoint-set("text-warn") {
  @include color-set("text", $warn-color) {
    color: var(--text-base-color);
  }
}
@include breakpoint-set("text-error") {
  @include color-set("text", $error-color) {
    color: var(--text-base-color);
  }
}
@include breakpoint-set("text-black") {
  @include color-set("text", $black-color) {
    color: var(--text-base-color);
  }
}
@include breakpoint-set("text-gray") {
  @include color-set("text", $gray-color) {
    color: var(--text-base-color);
  }
}
@include breakpoint-set("text-white") {
  @include color-set("text", $white-color) {
    color: var(--text-base-color);
  }
}
/* btn color */
@include breakpoint-set("btn-primary") {
  @include color-set("btn", $primary-color);
}
@include breakpoint-set("btn-secondary") {
  @include color-set("btn", $secondary-color);
}
@include breakpoint-set("btn-success") {
  @include color-set("btn", $success-color);
}
@include breakpoint-set("btn-info") {
  @include color-set("btn", $info-color);
}
@include breakpoint-set("btn-warn") {
  @include color-set("btn", $warn-color);
}
@include breakpoint-set("btn-error") {
  @include color-set("btn", $error-color);
}
@include breakpoint-set("btn-black") {
  @include color-set("btn", $black-color);
}
@include breakpoint-set("btn-gray") {
  @include color-set("btn", $gray-color);
}
@include breakpoint-set("btn-white") {
  @include color-set("btn", $white-color);
}

.img-data {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;

  & figcaption {
    &::before {
      content: "caption: ";
    }
    background-color: $gray-color;
    color: $white-color;
    font-weight: 700;
    @include px(3);
    @include py(1);
  }
}

.wiki-entry {
  background-color: #ffffff;
  border: 1px solid #ddd;
  @include border-radius(0.5rem);
  @include p(3);
  & p {
    @include my(0.2);
  }
  margin-bottom: 8px;
}

.wiki-title {
  margin: 0 0 8px 0;
  color: #333333;
  font-size: 1.5em;
}

.wiki-author,
.wiki-time {
  margin: 0;
  color: #666666;
  font-size: 1em;
}

@import "page";
