/* Scroll Styles */
::-webkit-scrollbar {
  width: 10px; /* Scroll bar width */
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5); /* 50% bright gray for thumb color */
  border-radius: 0.3rem; /* Rounded thumb */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track color */
}

#app {
  height: inherit;
  width: 100%;

  @include kor-font;

  &.main-container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: inherit;
    height: 100vh;
  }

  main.main-content {
    /* Changed to a slightly lighter gray color */
    background-color: #ffffff;
    padding: 20px;
    position: relative;

    .fade-out-top,
    .fade-out-bottom {
      pointer-events: none;
      position: absolute;
      left: 0;
      width: 100%;
      height: 50px; /* Adjust the height as needed */
      transition: opacity 0.5s ease;
      z-index: 1;
    }

    .fade-out-top {
      top: 40px;
      background: linear-gradient(to bottom, white, transparent);
    }

    .fade-out-bottom {
      bottom: 20px;
      background: linear-gradient(to bottom, transparent, white);
    }

    .wiki-book {
      margin-top: 20px;
      padding: 20px;
      border-radius: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      height: 80vh;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;

      table {
        @include my(2);
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
        thead {
          tr {
            background-color: #{$gray-color}56;
            th {
              @include px(3);
              @include py(2);
            }
          }
          border-bottom: 5px solid $gray-color;
          &:last-child {
            border-bottom: none;
          }
        }
        tbody {
          tr {
            border-bottom: 1px solid #{$gray-color}56;
            td {
              @include px(3);
              @include py(2);
            }

            &:last-of-type {
              border-bottom: none;
            }
          }
        }
      }

      .search-results {
        max-height: 450px;
        overflow-y: auto;
        padding: 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 0.25em;
      }

      #searchWiki {
        // width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.7); /* 70% bright gray border */
        border-radius: 0; /* No rounding */
        height: 2.5em; /* 2.5 times font size for height */
        transition: box-shadow 0.15s; /* Smooth transition for box-shadow */
        outline: none;
        @include px(2);

        &:hover,
        &:focus {
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); /* 3-4px shadow on hover/focus */
          transition: box-shadow 0.15s; /* Smooth transition for box-shadow */
        }
      }

      .category-badge {
        display: inline-block;
        padding: 0.5rem 1rem; /* Padding for space inside the badge */
        // margin-right: 1rem; /* 1rem margin between badges */
        background: #4141a1; /* Dark blue background color */
        color: #fff; /* White text color */
        @include border-radius(0.5rem); /* Rounded corners */
        cursor: pointer;
      }

      @media (min-width: 0px) {
        .section {
          width: 90%;
        }
      }
      @media (min-width: 768px) {
        .section {
          width: 50%;
        }
      }

      .section {
        display: flex;
        flex-direction: column;

        // margin: 20px 0;
        @include mx(0);
        // @include my(5);
        position: relative;

        .keyword-container {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          .keyword {
            background-color: #555;
            color: #fff;
            border: 1px solid #444;
            border-radius: 5px;
            padding: 5px 10px;
            margin: 5px;
          }
        }

        blockquote {
          border-left: 7px solid $info-color;
          margin: 0;
          @include px(3);
          @include py(3);
          background-color: #{$info-color}56;
          @include my(3);
        }
      }
      p {
        & > code {
          @include px(0.8);
          @include py(0.5);
          @include mx(0.3);
          background-color: $primary-color;
          color: $white-color;
          @include border-radius(0.3rem);
        }
      }

      pre[filename] {
        padding-top: 2.5em;
        &::before {
          content: attr(filename);
          font-weight: 700;
          font-size: 14px;
          position: absolute;
          left: 1em;
          top: 0.5em;
          color: $white-color;
          font-family: "Open Sans", sans-serif;
        }
      }

      .wiki-content {
        & p {
          text-indent: 1em;
        }
        & blockquote {
          text-indent: 1em;
        }
      }
    }
  }

  .icon {
    fill: #fff;
    width: 40px;
    height: 40px;
  }

  p {
    color: #444; /* Set the paragraph text color to a darker gray */
  }

  .pagination {
    display: flex;
    justify-content: center; /* Center align the buttons */
    list-style: none;
    padding: 0;
    gap: 0.5rem;
    @include mt(2);

    button {
      width: 40px; /* Adjust the button size as needed */
      height: 40px; /* Adjust the button size as needed */
      border: 1px solid rgba(128, 128, 128, 0.7); /* 70% bright gray border */
      border-radius: 50%; /* Circular shape */
      background: transparent; /* Transparent background */
      color: #000; /* Black text color */
      cursor: pointer;
      // margin: 0 1rem; /* 1rem margin between buttons */
    }
  }

  [clickable] {
    // border: 1px solid #ccc;
    // padding: 0.5rem 1.8rem;

    cursor: pointer;
    &:hover {
      color: #{$secondary-color} !important;
    }
    &:hover * {
      color: #{$secondary-color} !important;
    }
    transition: 150ms ease-in-out;
    -webkit-transition: 150ms ease-in-out;
    -moz-transition: 150ms ease-in-out;
    -ms-transition: 150ms ease-in-out;
    -o-transition: 150ms ease-in-out;
  }

  :is(h1, h2, h3, h4, h5, h6)[clickable] {
    &:hover::after {
      content: " #";
      color: gray;
    }
  }

  @mixin animation($values...) {
    animation: $values;
    -webkit-animation: $values;
  }

  [dummy] {
    &::before {
      content: "a";
      pointer-events: none;
      user-select: none;
      color: transparent;
    }
    @include border-radius(0.5rem);
    background: linear-gradient(
      -45deg,
      #{$gray-color}#{46 - 10} 0%,
      #{$gray-color}#{46 - 10} 35%,
      #{$gray-color}#{26 - 5} 50%,
      #{$gray-color}#{46 - 10} 75%,
      #{$gray-color}#{46 - 10} 100%
    );
    width: 100%;

    @include animation(flow-animate 15s linear infinite);
  }

  @keyframes flow-animate {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 90vw 0%;
    }
  }
}

.button-container {
  position: fixed;
  bottom: 15px;
  /*Increasedthedistancefromthebottomto30px*/
  left: 50%;
  @include translate(-50%, 0%);
  display: flex;
  justify-content: center;
  z-index: 100;
  padding: 1rem;
  padding-bottom: 3em;
  background-color: $white-color;
  //border: 1px solid #;
  box-shadow: 0 0 1rem 0 #{$gray-color}56;
  @include border-radius(1rem);

  .round-button {
    color: $gray-color;
    // color: white; /* Text color set to white for visibility */

    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 1rem;

    background: #fff;

    box-shadow: 0 0 5px 0 #00000036;

    &:hover,
    &.current-page {
      color: $white-color;
      animation: gradientFlow 3s linear infinite,
        increaseSaturation 0.15s linear;
      filter: saturate(130%); /* 30% increase in saturation on hover */
      background: linear-gradient(
        -45deg,
        #afeeee,
        #da70d6,
        #afeeee,
        #da70d6
      ); /* Pastel tones of blue and magenta */
      background-size: 300px, 300px;
    }

    @include transition(filter 0.2s, box-shadow 0.15s, background 0.35s);
  }

  @keyframes gradientFlow {
    0% {
      background-position: 100% 0px;
    }
    100% {
      background-position: 0px 100%;
    }
  }

  @keyframes increaseSaturation {
    0% {
      filter: saturate(100%);
    }
    100% {
      filter: saturate(130%);
    }
  }

  &::after {
    content: "Copyright 2023. kimson all rights reserved.";
    position: absolute;
    bottom: 0.75em;
  }
}

#toc {
  @include p(2);
  @include border-radius(0.5rem);
  box-shadow: 0 0 1rem 0 #{$gray-color}56;
  position: fixed;
  left: calc(100% - (100% - 60%) / 2);
  top: 50px;
  min-width: 100px;
  max-width: 200px;
  min-height: 50px;
  max-height: 70vh;
  // bottom: 50px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  & div {
    // cursor: pointer;
    font-weight: 500;
    font-size: 0.8em;
    // @include transition(150ms ease-in-out);
    // &:hover {
    //   color: $primary-color;
    // }
  }

  .divider {
    height: 1px;
    &:not(:last-of-type)::after {
      content: "";
      display: flex;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid #{$gray-color}36;
    }
  }
}

// .current-page {
//   box-shadow: 0 0 1rem 0 #c62d46;
// }

.copy-btn {
  position: absolute;
  right: 5px;
  top: 5px;
}
